<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
</head>
<body>
    <a href="{% url 'profiles-login' %}">Login Profile</a>
    <h2>Profiles Home Page</h2>

    <hr>
    <b>List of Online Users :- </b>
    <hr>

    {% for user in loggedin_users %}
      {{user}}<br>
    {% endfor %}

    <br>
    <br>

    <hr>
    <b>List of All Users :- </b> 
    <hr>

    {% for user in all_Users %}
      {{user}}<br>
    {% endfor %}

</body>
</html>